{% extends 'base.html' %}
{% block title %}IARI{% endblock %}

{% block page_content %}

<html>
	<head>
		<title>IARI-website</title>
      	<meta charset='utf-8'>
      	<meta name="viewport" content="width=device-width", initial-scale="1">
      	<link rel="stylesheet" href="css/style.css">
      	<link rel="stylesheet" href="{{  url_for('static',filename='css/style.css') }}">
	</head>


	<body>
		<div class="container">
			<div class="row">
				<div class="">
					<p>Tire o seu piercing do caminho que eu quero passar, quero passar, com a minha dor. Tire o seu piercing do caminho que eu quero passar, quero passar, com a minha dor. Pra elevar minhas ideias não preciso de incenso, existo porque penso, tenso, por isso insisto.</p>
					
					<p>São sete as chagas de Cristo, são muitos os meus pecados. Satanás condecorado, na TV tem um programa. Nunca mais a velha chama, nunca mais o céu do lado. Disneylândia, Eldorado, vamos nós dançar na lama.</p>


				</div>
      		</div>
    	</div>
	</body>
</html>  
{% endblock %}